/* Hoja de estilo default */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    border: 1px solid #000000;
    border-radius: 0.25rem;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.card-header {
    background-color: #1880f0;
    color: #ffffff;
    padding: 10px;
    border-radius: 0.25rem;
    text-align: center;
}

.card-body {
    padding: 10px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

button {
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 100%;
}

.button-container {
    display: flex;
    width: 100%;
    max-width: 500px;
}

#contraste1, #contraste2 {
    margin: 10px;
}
